name: Python Setup
on:
  workflow_call:
    outputs:
      python-version:
        description: "Python version used"
        value: ${{ jobs.setup.outputs.python-version }}

jobs:
  setup:
    runs-on: ubuntu-20.04
    outputs:
      python-version: ${{ steps.set-python.outputs.version }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        id: set-python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
